@import '../../../styles/settings.scss';

.root {
  .addContainer {
    .paperCard {
      padding: 20px;

      &__item {
        margin: 15px auto;

        input, textarea {
          color: $background-color;
        }
      }

      &__btn {
        margin-top: 12px;
      }

      &__textError {
        color: red;
      }

      &__link{
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

  }
}