@import '../../../styles/settings.scss';

 .root {
     .input{
         margin: 10px;
     }
     .button{
         padding-bottom: 30px;
     }
     .title { 
         padding: 20px 0;
     }
     h2{
         text-align: center;
     }
     .form {
         margin-bottom: 50px;
     }
}
